{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- MAIN CONTENT -->
<div id="main-content" class="main-content">
    <!-- TWITTER STREAM -->
    <div id="twitter-stream" class="section twitter-stream">
        <div class="container">
            <div class="section-heading">
                <h2>Social Media</h2>
            </div>
            <div id="tweet"></div>
            <div class="row">
              <div class="col-lg-4">
                  <h3 style="color: white">@pyconde</h3>
                <div class="twitter-icon">
                    <p><a href="https://twitter.com/pyconde" data-toggle="tooltip" data-placement="left"
                        title="Follow us on Twitter"><i class="fa fa-twitter"></i></a><br>
                    <a href="https://twitter.com/search?q=%23PyConDE">#PyConDE</a>
                    </p>
                </div>
              </div>
              <div class="col-lg-4">
                  <h3 style="color: white">pyconde group</h3>
                  <p>General announcements in the <a href="https://t.me/pyconde">PyCon.DE telegram group</a>.</p>
              </div>
              <div class="col-lg-4">
                  <h3 style="color: white">pyconde allhands group</h3>
                  <p>Want to help organizing the PyCon.DE 2017 &amp; PyData Karlsruhe, then joint the <a href="https://t.me/joinchat/AXbpxQslQ4IJkNkVaYTOWw">PyCon.DE allhands telegram group</a>.</p>
              </div>
            </div>
        </div>
    </div>
    <!-- END TWITTER STREAM -->


    <div class="section">
        <div class="container">
            <div class="section-heading">
                <h2>Blog <a href="http://de.pycon.org/feed.xml"><img src="../assets/img/feed.png" height="45px" width="45px"></a></h2>
            </div>
            <div class="section-content">
            <!-- place this where you want the widget to appear -->
            <div class="row blog-content">
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
    <hr>
  {% endfor %}

  {{ render_pagination(this.pagination) }}

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
    
{% endblock %}
