{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- MAIN CONTENT -->
<div id="main-content" class="main-content">

    <div class="section">
        <div class="container">
            <div class="section-content">
            <!-- place this where you want the widget to appear -->
            <div class="row blog-content">
  {% for child in this.pagination.items %}
    {{ render_blog_post(child, from_index=true) }}
    <hr>
  {% endfor %}

  {{ render_pagination(this.pagination) }}

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
    
{% endblock %}
