{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ this.body}}

{% macro talk(key) -%}
    <b><a href="talks/{{bag("talks")[key]["slug"]}}/">{{bag("talks")[key]["title"]}}</a></b></br>
    <i>{{bag("talks")[key]["speaker"]}}</i><br>
    {{bag("talks")[key]["tags"]|join(", ")}}
{%- endmacro %}

{% macro tutorial(key) -%}
    <b><a href="tutorials/{{bag("tutorials")[key]["slug"]}}/">{{bag("tutorials")[key]["title"]}}</a></b></br>
    <i>{{bag("tutorials")[key]["speaker"]}}</i><br>
    {{bag("tutorials")[key]["tags"]|join(", ")}}
{%- endmacro %}

<!-- MAIN CONTENT -->
<div id="main-content" class="main-content">

    <div class="section">
        <div class="container">
            <div class="section-heading">
                <h2>Preliminary Schedule</h2>
                <!--<hr/>-->
                <p>The room and the time might still change.</p>
            </div>
           <div class="section-content">
            <div class="row">
<h2>Wednesday 25.10.2017</h2>
<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</th>
    <th width="22%">Media Theatre</th>
    <th width="22%">Lecture Hall</th>
    <th width="22%">1st Floor</th>
    <th width="22%">Museum (Tutorials)</th>
  </tr>
</thead>
<tbody>

  <tr> 
    <td>09:00</td>
    <td>Registration</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>09:30</td>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:15</td>
    <td>Opening</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:30</td>
    <td><h2><a href="./keynotes/#susanne-mertens">Keynote Prof. Dr. Susanne Mertens</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>11:30</td>
    <td>{{talk("THEATRE_1_1")}}</td>
    <td>{{talk("LECTURE_1_1")}}</td>
    <td>{{talk("FLOOR_1_1")}}</td>
    <td rowspan="2">{{tutorial("MUSEUM_1_1")}}</td>
    <td></td>
  </tr>
  <tr> 
    <td>12:20</td>
    <td>{{talk("THEATRE_1_2")}}</td>
    <td>{{talk("LECTURE_1_2")}}</td>
    <td>{{talk("FLOOR_1_2")}}</td>
    <td></td>
  </tr>
  <tr> 
    <td>12:50</td>
    <td>Lunch Break</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>14:00</td>
    <td>{{talk("THEATRE_1_3")}}</td>
    <td>{{talk("LECTURE_1_3")}}</td>
    <td>{{talk("FLOOR_1_3")}}</td>
    <td rowspan="2">{{tutorial("MUSEUM_1_2")}}</td>
  </tr>
  <tr> 
    <td>14:50</td>
    <td>{{talk("THEATRE_1_4")}}</td>
    <td>{{talk("LECTURE_1_4")}}</td>
    <td>{{talk("FLOOR_1_4")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>15:20</td>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>16:00</td>
    <td>{{talk("THEATRE_1_5")}}</td>
    <td>{{talk("LECTURE_1_5")}}</td>
    <td>{{talk("FLOOR_1_5")}}</td>
    <td rowspan="2">{{tutorial("MUSEUM_1_3")}}</td>
  </tr>
  <tr> 
    <td>16:35</td>
    <td>{{talk("THEATRE_1_6")}}</td>
    <td>{{talk("LECTURE_1_6")}}</td>
    <td>{{talk("FLOOR_1_6")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>17:15</td>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>18:00</td>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="88%">Inovex</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>19:00</td>
    <td><b><a href="./data-science-meetup/">Inovex Data Science Meetup</a></b></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Thursday 26.10.2017</h2>
<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="22%">Media Theatre</td>
    <th width="22%">Lecture Hall</td>
    <th width="22%">1st Floor</td>
    <th width="22%">Museum</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>08:45</td>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>09:00</td>
    <td><h2><a href="./keynotes/#mathew-rocklin">Keynote Mathew Rocklin</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:00</td>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:30</td>
    <td>{{talk("THEATRE_2_1")}}</td>
    <td>{{talk("LECTURE_2_1")}}</td>
    <td>{{talk("FLOOR_2_1")}}</td>
    <td rowspan="3">{{tutorial("MUSEUM_2_1")}}</td>
  </tr>
  <tr> 
    <td>11:20</td>
    <td>{{talk("THEATRE_2_2")}}</td>
    <td>{{talk("LECTURE_2_2")}}</td>
    <td>{{talk("FLOOR_2_2")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>11:55</td>
    <td>{{talk("THEATRE_2_3")}}</td>
    <td>{{talk("LECTURE_2_3")}}</td>
    <td>{{talk("FLOOR_2_3")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>12:25</td>
    <td>Lunch Break</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>14:00</td>
    <td>{{talk("THEATRE_2_4")}}</td>
    <td>{{talk("LECTURE_2_4")}}</td>
    <td>{{talk("FLOOR_2_4")}}</td>
    <td rowspan="2">{{tutorial("MUSEUM_2_2")}}</td>
  </tr>
  <tr> 
    <td>14:50</td>
    <td>{{talk("THEATRE_2_5")}}</td>
    <td>{{talk("LECTURE_2_5")}}</td>
    <td>{{talk("FLOOR_2_5")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>15:30</td>
    <td rowspan="2">Coffee</td>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <td></td>
  </tr>
  <tr>
    <td>15:45</td>
    <td rowspan="3">{{tutorial("MUSEUM_2_3")}}</td>
  </tr>
  <tr> 
    <td>16:00</td>
    <td>{{talk("THEATRE_2_6")}}</td>
    <td>{{talk("LECTURE_2_6")}}</td>
    <td>{{talk("FLOOR_2_6")}}</td>
    <td></td>
  </tr>
  <tr> 
    <td>16:35</td>
    <td>{{talk("THEATRE_2_7")}}</td>
    <td>{{talk("LECTURE_2_7")}}</td>
    <td>{{talk("FLOOR_2_7")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>17:15</td>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>18:00</td>
    <td>End</td>
    <td></td>
    <td></td>
    <td><b><a href="http://zkm.de/en/event/2017/10/all-watched-over-by-machines-of-loving-grace">All Watched over <br>by Machines of Loving Grace</a></b></td>
  </tr>
</table>

<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="88%">Badisch Brauhaus</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>19:00</td>
    <td><b><a href="./social-event/">Social Event</a></b></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Friday 27.10.2017</h2>
<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="22%">Media Theatre</td>
    <th width="22%">Lecture Hall</td>
    <th width="22%">1st Floor</td>
    <th width="22%">Museum</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>08:45</td>
    <td>Morning Announcements</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>09:00</td>
    <td><h2><a href="./keynotes/#michael-feindt">Keynote Prof. Dr. Michael Feindt</a></h2></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:00</td>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>10:30</td>
    <td>{{talk("THEATRE_3_1")}}</td>
    <td>{{talk("LECTURE_3_1")}}</td>
    <td>{{talk("FLOOR_3_1")}}</td>
    <td rowspan="3">{{tutorial("MUSEUM_3_1")}}</td>
  </tr>
  <tr> 
    <td>11:20</td>
    <td>{{talk("THEATRE_3_2")}}</td>
    <td>{{talk("LECTURE_3_2")}}</td>
    <td>{{talk("FLOOR_3_2")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>11:55</td>
    <td>{{talk("THEATRE_3_3")}}</td>
    <td>{{talk("LECTURE_3_3")}}</td>
    <td>{{talk("FLOOR_3_3")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>12:25</td>
    <td>Lunch Break</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>14:00</td>
    <td>{{talk("THEATRE_3_4")}}</td>
    <td>{{talk("LECTURE_3_4")}}</td>
    <td>{{talk("FLOOR_3_4")}}</td>
    <td rowspan="2">{{tutorial("MUSEUM_3_2")}}</td>
  </tr>
  <tr> 
    <td>14:50</td>
    <td>{{talk("THEATRE_3_5")}}</td>
    <td>{{talk("LECTURE_3_5")}}</td>
    <td>{{talk("FLOOR_3_5")}}</td>
    <!--<td><a href="./tutorials/">Tutorials</a></td>-->
  </tr>
  <tr> 
    <td>15:20</td>
    <td>Coffee</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>16:00</td>
    <td>Lightning Talks</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>16:30</td>
    <td>Closing Session</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr> 
    <td>17:00</td>
    <td>End</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tbody>
</table>

<div class="pagebreak"> </div>
<h2>Saturday 28.10.2017</h2>
<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="88%">tba</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>10:00</td>
    <td><a href="./sprint/">Sprint &amp; Hackathon </a></td>
  </tr>
  <tr> 
    <td>12:30</td>
    <td>Lunch Break</td>
  </tr>
  <tr> 
    <td>13:30</td>
    <td><a href="./sprint/">Sprint &amp; Hackathon </a></td>
  </tr>
  <tr> 
    <td>18:00</td>
    <td>End</td>
  </tr>
</tbody>
</table>

<h2>Sunday 29.10.2017</h2>
<table class="table  table-hover">
<thead>
  <tr> 
    <th width="12%">#</td>
    <th width="88%">tba</td>
  </tr>
</thead>
<tbody>
  <tr> 
    <td>10:00</td>
    <td><a href="./sprint/">Sprint &amp; Hackathon </a></td>
  </tr>
  <tr> 
    <td>12:30</td>
    <td>Lunch Break</td>
  </tr>
  <tr> 
    <td>13:30</td>
    <td><a href="./sprint/">Sprint &amp; Hackathon </a></td>
  </tr>
  <tr> 
    <td>17:00</td>
    <td>End</td>
  </tr>
</tbody>
</table>

            </div>

           </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

{% endblock %}
